/*-------------------------------------------
  hamburger
-------------------------------------------*/

.hamburger {
  position: relative;
  background: $primary;
  width: 50px;
  height: 50px;
  z-index: 20;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  @include large {
    width: 80px;
    height: 80px;
  }
  span {
    display: inline-block;
    transition: all .5s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: $white;
    width: 45%;
    @include large {
      left: 23px;
    }
    &:nth-of-type(1) {
      top: 13px;
      @include large {
        top: 21px;
      }
    }
    &:nth-of-type(2) {
      top: 19px;
      @include large {
        top: 32px;
      }
    }
    &:nth-of-type(3) {
      top: 25px;
      @include large {
        top: 43px;
      }
    }
  }
  &::after {
    content: "Menu";
    position: absolute;
    top: 30px;
    left: 13px;
    color: $white;
    font-size: 0.6rem;
    @include large {
      top: 53px;
      left: 24px;
      font-size: 0.8rem;
    }
  }
}

.open {
  .hamburger {
    span {
      &:nth-of-type(1) {
        top: 14px;
        left: 14px;
        transform: translateY(6px) rotate(-225deg);
        @include large {
          top: 18px;
          left: 23px;
          transform: translateY(11px) rotate(-225deg);
        }
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        top: 26px;
        left: 14px;
        transform: translateY(-6px) rotate(225deg);
        @include large {
          top: 40px;
          left: 23px;
          transform: translateY(-11px) rotate(225deg);
        }
      }
    }
    &::after {
      content: "Close";
    }
  }
}
