/*-------------------------------------------
Parameters
-------------------------------------------*/

// color
$black: #444444;
$white: #ffffff;
$base: #dbedf0;
$primary: #1760A0;
$secondary: #3AE0C1;
$accent: #E08B46;

// font
$oswald-font: 'Oswald', sans-serif;
