/*-------------------------------------------
  works
-------------------------------------------*/
.works {
  &__layout {
    @include large {
      height: calc(100vh - 165px);
    }
  }

  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  
    @include large {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}