/*-------------------------------------------
  wrapper
-------------------------------------------*/
.wrapper {
  max-width:  950px;
  margin: 0 auto;
  padding: 0 5%;
  @include large {
    padding: 0;
  }
}
